/* COLOURS:
Emphasis: #FF0068;
Lighter emphasis: #ff7fb3;
Light grey for faded fonts: #646464;
Light grey for backgrounds: #F5F5F5;
*/

body {
  margin: 40px auto;
  max-width: 600px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  padding: 0 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body > * {
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2
}

h1 a {
  text-decoration: none;
  color: inherit;
  border-bottom: 0;
}

a {
  color: #156EB2;
}

a:hover {
  color: #075E66 !important;
}

.centered > * {
  display: block;
  margin: auto;
}

.button {
  margin: 10px 15px;
  display: block;
  background-color: #156EB2;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.button:hover {
  background-color: #D86018;
}

.button-wrapper {
  padding-top: 0.5em;
}

.status-wrapper {
  margin-top: 20px;
}

span.status {
  color: #fff;
  background-color: #C00000;
  padding: 10px;
  margin: 10px auto 0 auto;
  display: block;
  width: 200px;
  text-align: center;
}

span.status.valid {
  background-color: #70AD47;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-wrapper {
  width: 400px;
  max-width: 100%;
}
